@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thème clair (par défaut) */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
}

/* Thème sombre */
:root.dark {
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  color-scheme: dark;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Transition douce pour tous les éléments qui changent avec le thème */
* {
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.gift-card-enter {
  opacity: 0;
  transform: translateY(20px);
}

.gift-card-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
